<% content_for :title, "Question | StackOverflow" %>

<%= render('question') %>

<div id="comments">
    <h3>Answers <small><%= link_to "Answer this question", new_question_comment_path(@question), remote: true %></small></h3>
    <%= render @question.comments %>
</div>
